$black: #011627;
$blacklight: #656073;



body {
  font: 18px 'Poppins';
  line-height: 28px;
  color: #656073;
}

.main-wrap {

}

.main-title-page {
  display: none;
}

.section {

}

.section.standart-padding > div {
  padding-top: 120px;
  padding-bottom: 120px;
}

.bg-grey {
  background-color: #EBEFFB;
}

.section-title {
  font-family: 'Montserrat-bold';
  font-size: 54px;
  line-height: 66px;
  text-align: center;
  color: #4256D6;;

  &--white {
    color: white;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}


.btn {
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #287AFF;
  border: 1px solid #287AFF;
  border-radius: 32px;
  transition: 0.3s ease-in;
  max-width: 240px;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $black;
    background: #FFE428;
    border: 1px solid #FFE428;
  }
}

.btn-yellow {
  border: 1px solid #FFE428;
  color: $black;
  background: #FFE428;
  border-radius: 60px;
  max-width: 540px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 36px;



  &:hover {
    color: white;
    background: #4256D6;;
    border: 1px solid #4256D6;;
  }
}

.btn-blue {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  max-width: 320px;
  height: 88px;
  border-radius: 60px;
  color: white;
  background: #4256D6;

  &:hover {
    color: $black;
    background: #FFE428;
  }
}

.btn-bg-blue {

  &:hover {
    color: $black;
    background: white;
  }
}


.first-block {
  //background: #4256D6;
  background-color: #4256D6;
  background-image: url("../img/cloud01.svg"), url("../img/cloud02.svg");
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;


  &__inner {
    padding-top: 120px;
  }

  &__title {
    margin-bottom: 80px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 890px;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__item {
    color: white;
    max-width: 355px;
    width: 50%;
    position: relative;
    padding-left: 45px;

    &:before {
      content: url("../img/circle-check--yellow.svg");
      width: 28px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__video {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__video-inner {
    padding-top: 145px;
    position: relative;
    background: url("../img/cloud03.svg") no-repeat;
    background-position-x: calc(50% + 11px);
    background-position-y: calc(50% + -19px);
    background-size: 69%;


    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #011627;
      height: 170px;
    }

  }

  &__video-laptop {
    display: flex;
    justify-content: center;
    width: 100%;
    //max-width: 1140px;
    max-width: 1350px;
    height: 630px;
    z-index: 1;
    position: relative;
    margin: 0 auto;

    //&:before {
    //  content: url('../img/konoha.svg');
    //  position: absolute;
    //  bottom: 70px;
    //  z-index: -1;
    //  left: 0;
    //}
    //
    //&:after {
    //  content: url('../img/konoha.svg');
    //  position: absolute;
    //  bottom: 70px;
    //  z-index: -1;
    //  right: 0;
    //  transform: scale(-1, 1);
    //}

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #011627;
      height: 170px;
    }


    &--leaf01 {
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      bottom: 130px;
      z-index: -1;
      left: -11px;
      width: 317px;
      height: 392px;
      display: block;
    }

    &--leaf02 {
      background-repeat: no-repeat;
      background-size: 100%;
      position: absolute;
      bottom: 130px;
      z-index: -1;
      right: -8px;
      transform: scale(-1, 1);
      width: 317px;
      height: 392px;
    }


    &--man01 {
      position: absolute;
      bottom: 140px;
      left: -104px;
      display: block;
      width: 242px;
      height: 637px;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &--man02 {
      position: absolute;
      bottom: 140px;
      right: -139px;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 255px;
      height: 653px;
      display: block;
    }
  }

  &__video-laptop-bg {
    background-repeat: no-repeat;
    background-position-x: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 630px;
    margin: 0 auto;
  }

  &__video-link {
    display: flex;
    height: 512px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 858px;
    width: 100%;
    top: 44px;
    margin-left: 1px;
  }
}


.clock-block {
  background-color: #011627;
  padding-bottom: 120px;

  &__inner {
    padding-top: 86px;
  }

  &__txt {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: white;

    & span {
      color: #FFE428;
      font-weight: bold;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    margin-bottom: 83px;
  }

  &__item-content {
    margin-top: 115px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 42px;
    background: #4256D6;
    box-shadow: 0 4px 12px rgba(66, 86, 214, 0.1);
    position: relative;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 27px;
    max-width: 746px;


    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100px;
      background: url("../img/clock-block-bg.svg") no-repeat;
      background-size: 100%;
      left: 0;
      top: -60px;
    }
  }

  &__item-column {
    width: 25%;
    z-index: 2;
    position: relative;
    text-align: center;

    &:nth-child(1) .clock-block__item-digit:after {
      right: -13px;
    }

    &:nth-child(2) .clock-block__item-digit:after {
      right: 5px;
    }

    &:nth-child(3) .clock-block__item-digit:after {
      right: -6px;
    }

    &:nth-child(4) .clock-block__item-digit:after {
      display: none;
    }
  }

  &__item-digit {
    font-weight: 500;
    font-size: 96px;
    line-height: 136px;
    color: #FFFFFF;
    position: relative;

    &:after {
      content: ':';
      font-family: 'Montserrat-Bold';
      font-size: 85%;
      position: absolute;
    }
  }

  &__item-txt {
    color: #9DD4F9;
    font-size: 21px;
    line-height: 32px;
    position: relative;
    top: -14px;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
  }
}



.profit {


  &__inner {

  }

  &__title {
    margin-bottom: 65px;
  }

  &__list {

  }

  &__item {
    display: flex;
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    background: white;

    z-index: 1;
    justify-content: space-between;
    align-items: center;

    &:before {
      content: '';
      background: url("../img/profit__item-bg.svg") center no-repeat;
      background-size: 100%;
      height: 127px;
      position: absolute;
      top: -120px;
      left: 0;
      width: 100%;
    }

    &:after {
      content: '';
      background: url("../img/profit__item-bg.svg") center no-repeat;
      background-size: 100%;
      height: 127px;
      position: absolute;
      bottom: -120px;
      width: 100%;
      left: 0;
    }

    &--1 {
      border-radius: 42px 42px 0 0;
      padding: 45px 100px 11px 100px;
      margin-bottom: 222px;

      &:before {
        display: none;
      }

      & .profit__img {
        height: 480px;
        top: 16px;
        left: 43px;
      }

    }

    &--2 {
      padding: 45px 121px 42px 100px;
      margin-bottom: 222px;

      &:before {
        transform: scale(-1,-1);
      }

      &:after {
        transform: scale(-1,1);
      }

      & .profit__img {
        height: 380px;
        top: 9px;
        left: -61px;
      }
    }

    &--3 {
      padding: 0 121px 0 100px;
      margin-bottom: 220px;

      &:before {
        transform: scale(1,-1);
      }

      & .profit__img {
        height: 495px;
        top: 0;
        left: 81px;
      }

    }

    &--4 {
      border-radius: 0 0 42px 42px;
      padding: 49px 117px 127px 3px;

      &:before {
        transform: scale(-1,-1);
      }

      &:after {
        display: none;
      }

      & .profit__img {
        height: 369px;
        top: -8px;
        left: 0;
      }
    }
  }

  &__info {
    max-width: 400px;
    width: 100%;
  }

  &__name {
    color: $black;
    font-size: 28px;
    line-height: 38px;
    font-family: 'Montserrat-bold';
    margin-bottom: 28px;
    width: 100%;
    max-width: 370px;
  }

  &__txt {
    font-size: 18px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    & span {
      position: relative;
      display: inline-flex;
      padding-left: 11px;

      &:before {
        content: '';
        left: 0;
        top: 12px;
        position: absolute;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: $blacklight;
      }
    }
  }

  &__img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    position: relative;
  }
}



.effort {


  &__inner {

  }

  &__title {

  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__row-stop {
    left: -80px;

    & .effort__item:before {
      background: #FF644E;
    }

    & .effort__img {
      left: -15px;
      top: -3px;
      background-size: contain;
      background-repeat: no-repeat;
      width: 266px;
      height: 310px;
      display: block;
    }

    & .effort__list {
      left: -25px;
      top: -10px;
    }
  }

  &__row-start {
    margin-top: 33px;

    & .effort__item:before {
      background: #18F0BC;;
    }

    & .effort__img {
      left: 60px;
      background-size: contain;
      background-repeat: no-repeat;
      width: 300px;
      height: 320px;
      display: block;
    }

    & .effort__list {
      top: -10px;
      left: 96px;
    }
  }

  &__list {
    max-width: 455px;
    position: relative;
  }

  &__item {
    margin-bottom: 27px;
    position: relative;
    padding-left: 33px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 4px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  &__img {
    position: relative;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  &__btn {

  }
}



.key {
  background-color: #4256D6;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: calc(100% + 184px);

  &__inner {
    padding-top: 113px;
    padding-bottom: 216px;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__content {
    max-width: 1140px;
    width: 100%;
    background: white;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(66, 86, 214, 0.1);
    border-radius: 24px;
  }

  &__list {
    //margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    //padding: 59px 70px;
    justify-content: center;
  }

  &__item {
    width: calc(50% - 1px);

    border-bottom: 1px solid #EBEFFB;

    &:nth-child(even) {
      border-left: 1px solid #EBEFFB;
    }

    &:nth-last-child(-n+2) {
      border-bottom: 0;
    }

  }

  &__item-content {
    padding: 60px 58px 50px;
  }

  &__item-img {
    margin-bottom: 28px;
    display: block;
    width: 228px;
    height: 204px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__item-name {
    color: $black;
    font-size: 28px;
    line-height: 38px;
    font-family: 'Montserrat-Bold';
    margin-bottom: 30px;
  }

  &__item-txt {

  }

  &__item-btn-more {
    display: none;
  }

}





.marketing {
  padding-bottom: 130px;

  &__inner {

  }

  &__title {
    margin-bottom: 90px;
  }

  &__content {
    background-size: 80%;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 0 25px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 360px;
    height: 360px;
    background: #66ABFF;
    border-radius: 50%;
    border: 8px solid #EBEFFB;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;

    &:nth-child(even) {
      margin-top: 195px;
    }
  }

  &__img {
    margin-bottom: 11px;
    margin-top: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 77px;
    height: 77px;
  }

  &__txt {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    padding: 0 35px;
  }

}

.strok-block {
  background-color: #4256D6;
  padding-top: 100px;
  padding-bottom: 100px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  &__inner {

  }
  &__title {

  }
}










.info-block {
  background: no-repeat;
  background-position-y: 60%;
  background-size: 47%;

  &--bg-left {

  }

  &--bg-right {
    background-position-x: 100% ;
  }

  &__bg-img {

  }
  &__inner {
    padding-top: 130px;
    padding-bottom: 115px;
    position: relative;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
  }
  &__jaw {
    font: 24px 'Montserrat-Bold';
    color: $black;
    text-align: center;
    background: transparent url("../img/jaw-ico.svg") center no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    width: 100%;
    min-height: 127px;


    & span {
      font-size: 36px;
      line-height: 44px;
      padding-top: 10px;
    }

    &--right {
      right: 0;
   }

    &--left {
      left: 0;
    }
  }

  &__title {

  }

  &__top {
    margin-top: 18px;
  }

  &__txt {
    text-align: center;

    &--mt40 {
      margin-top: 40px;
    }
  }

  &__table {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #287AFF;
    border-radius: 5px;

    &--cw50 .info-block__column{
      width: 50%;
    }

    &--cw33 .info-block__column{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.3333%;
      padding: 30px;

      &:nth-child(2) {
        border-right: 1px solid #287AFF;
      }

      &--img {
        display: flex;
      }

      &--img-item {
        width: 60px;
        height: 60px;
        margin: 0 10px;
        margin-bottom: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }

      &--microtitle {
        text-align: center;
        color: $black;
        font: 28px 'Montserrat-Bold';
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #287AFF;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__column {
    padding: 16px 33px;
    display: flex;

    &:nth-child(even) {
      border-left: 1px solid #287AFF;
    }

    & span {
      position: relative;
      padding-left: 46px;

      &:before {
        content: url("../img/check-blue.svg");
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }

  &__content {
    max-width: 555px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 38px;

    &--left {
      margin-left: auto;
    }

    &--right {
      margin-right: auto;
    }

  }

  &__subtite {
    color: black;
    font-size: 28px;
    line-height: 38px;
    font-family: 'Montserrat-Bold';
  }

  &__list {
   padding-top: 37px;
  }

  &__item {
    font-size: 18px;
    line-height: 28px;
    padding-left: 46px;
    margin-bottom: 27px;
    position: relative;

    &:before {
      content: url("../img/circle-check--blue.svg");
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__program {
    background: #EBEFFB;
    margin-top: 16px;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 46px 10px 40px;
  }

  &__program-name {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    line-height: 38px;

    & span {
      color: #030047;
    }
  }

  &__program-list {
    display: flex;
    align-items: center;
    padding-left: 100px;
  }

  &__program-img {
    margin-left: 10px;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &:first-child {
      margin-left: 0;
    }
  }

  &__btn-wrap {
    margin-top: 42px;
  }

  &__btn {

  }

  &__bottom {
    position: relative;
    padding-bottom: 77px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 120px;
      background: #4256D6;
      z-index: -1;
    }
  }

  &__bottom--height-bg {

    &:before {
      height: 135px;
    }
  }

  &__bottom-txt {
    background: #EBEFFB;
    border-radius: 120px;
    font-size: 24px;
    line-height: 36px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 160px;
    color: #4256D6;
  }

}



.blue-block {
  padding: 300px 0;

  &__inner {

  }

  &__item {
    background: #4256D6;
    position: relative;
    padding: 35px 0;

    &:before {
      content: '';
      background-size: calc(100%);
      background-image: url("../img/blue-bg.svg");
      background-repeat: no-repeat;
      height: 120px;
      width: 100%;
      display: flex;
      position: absolute;
      top: -119px;
    }

    &:after {
      content: '';
      background-size: calc(100%);
      background-image: url("../img/blue-bg.svg");
      background-repeat: no-repeat;
      height: 120px;
      width: 100%;
      display: flex;
      position: absolute;
      bottom: -119px;
      transform: scale(1, -1);
    }
  }

  &__item-content {
    max-width: 750px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 53px;
  }

  &__txt {
    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 36px;

    & span {
      color: #FFE428;
    }
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__btn {
    max-width: 360px;
    border-radius: 60px;
    max-height: 100px;
  }


}









