footer
	.footer
		.footer__inner
			.container
				.footer__content
					.footer__column
						.footer__subtitle About
						.footer__txt A professional set of marketing materials to successful and effective business promotion
					.footer__column
						.footer__subtitle Products
						.footer__list
							.footer__item
								a(href="javascript:void(0);").footer__link PowerPoint
							.footer__item
								a(href="javascript:void(0);").footer__link Business cards
							.footer__item
								a(href="javascript:void(0);").footer__link Creative logo
							.footer__item
								a(href="javascript:void(0);").footer__link Social media covers and post
							.footer__item
								a(href="javascript:void(0);").footer__link Web banners
							.footer__item
								a(href="javascript:void(0);").footer__link Flyers and posters
							.footer__item
								a(href="javascript:void(0);").footer__link Brochures
							.footer__item
								a(href="javascript:void(0);").footer__link Stationary
							.footer__item
								a(href="javascript:void(0);").footer__link Coupons and discounts
							.footer__item
								a(href="javascript:void(0);").footer__link Greeting cards
					.footer__column
						.footer__subtitle Contact us
						.footer__txt
							| Address: some address here <br>
							| <br>
							| Phone number: <br>
							a(href="tel:80990005525") 8(099)000 55 25
							| <br>
							| <br>
							| Email:
							a(href="mailto:somemail@here.com")  somemail@here.com


		.footer__bottom
			.container
				.footer__bottom-content
					.footer__bottom-txt Copyright © 2020
					.footer__bottom-list
						a(href="#").footer__bottom-link.b-lazy(data-blazy="img/footer-be.svg")
						a(href="#").footer__bottom-link.b-lazy(data-blazy="img/footer-inst.svg")
						a(href="#").footer__bottom-link.b-lazy(data-blazy="img/footer-fb.svg")


.video
	.video__inner
		.video__close.b-lazy(data-blazy="img/close.svg")
		.video__content
			iframe.youtube-video( width="720" height="480" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


.popup.powerpoint-presentation
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Powerpoint Presentation
				.popup__gallery
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/powerpoint-presentation06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")


.popup.stationary
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Stationary
				.popup__gallery
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/stationary01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/stationary02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/stationary03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w50
						img.b-lazy(alt="img" data-blazy="./img/gallery/stationary04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

.popup.business-card
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Business Card
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card07.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card08.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/business-card09.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")


.popup.greeting-cards
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Greeting Cards
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards07.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards08.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/greeting-cards09.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

.popup.coupons-discounts
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Coupons and Discounts
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts07.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts08.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/coupons-and-discounts09.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

.popup.professional-brochure
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Professional Brochure Bifold
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
				.popup__title Professional Brochure Trifold
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/professional-brochure-bifold01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")


.popup.creative-logo
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Creative Logo
				.popup__gallery
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo07.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo08.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo09.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo10.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo11.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w25
						img.b-lazy(alt="img" data-blazy="./img/gallery/creative-logo12.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")

.popup.flyers
	.popup__inner
		.popup__close.b-lazy(data-blazy="img/close.svg")
		.popup__content
			.container
				.popup__title Flyers
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers04.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers05.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers06.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
				.popup__title Posters
				.popup__gallery
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers02.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers03.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
					.popup__item.popup__item--w33
						img.b-lazy(alt="img" data-blazy="./img/gallery/flyers01.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")


