extends _layout

block vars
	- var pageTitle = "Home page";
	- var pageClass = "homepage";

block content
	//.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

		<picture>
			<source srcset="./img/awesomeWebPImage.webp" type="image/webp">
			<source srcset="./img/creakyOldJPEG.jpg" type="image/jpeg">
			<img src="./img/creakyOldJPEG.jpg" alt="Alt Text!">
		</picture>

	div.main-wrap
		h1.main-title-page Boost your Sales With Powerful Marketing Materials For Small Business

		.section
			.first-block
				.container
					.first-block__inner
						.section-title.section-title--white.first-block__title Boost Your Sales With Powerful Marketing Materials For Small Business
						a.first-block__video-link.first-block__video-link--mobile.link.webp-img.b-lazy(data-webp="./img/video-mobile.webp" data-img="./img/video-mobile.png" href="javascript:void(0);")
						.first-block__list
							.first-block__item
								b 2500+
								|  high-quality and easy to use <br>graphic design templates;
							.first-block__item
								b 6
								|  file formats for professional and amateurs <br>use both Mac as well as Windows;
							.first-block__item
								b 100+
								|  variations of styles to cover all <br>your requirements;
							.first-block__item Countless save time, effort and money.
				.first-block__video
					.first-block__video-inner
						.first-block__video-laptop
							.first-block__video-laptop--man01.b-lazy(data-blazy="./img/man01.svg")
							.first-block__video-laptop--man02.b-lazy(data-blazy="./img/man02.svg")
							.first-block__video-laptop--leaf01.b-lazy(data-blazy="./img/konoha.svg")
							.first-block__video-laptop--leaf02.b-lazy(data-blazy="./img/konoha.svg")
							.first-block__video-laptop-bg.webp-img.b-lazy(data-webp="./img/macbook.webp" data-img="./img/macbook.png")
							a#videSrc.first-block__video-link.link.webp-img.b-lazy(data-webp="./img/video-placeholder.webp" data-img="./img/video-placeholder.png" href="javascript:void(0);" data-video="https://www.youtube.com/embed/P3-lbPpxUEw?enablejsapi=1")

		.section
			.clock-block
				.container
					.clock-block__inner
						.clock-block__txt
							| Only 2 days offer!
							br
							| Catch marketing materials design just for
							span  $29
					.clock-block__item
						.clock-block__item-content#countdown
							.clock-block__item-column
								.clock-block__item-digit.days 02
								.clock-block__item-txt Days
							.clock-block__item-column
								.clock-block__item-digit.hours 12
								.clock-block__item-txt Hours
							.clock-block__item-column
								.clock-block__item-digit.minutes 24
								.clock-block__item-txt Minutes
							.clock-block__item-column
								.clock-block__item-digit.seconds 36
								.clock-block__item-txt Seconds
							.clock-block__deadline-message.deadline-message Time is up!

					.clock-block__btn-wrap.btn-pulse
						a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.clock-block__btn
							span Get with the discount now

		.section.standart-padding
			.profit.bg-grey
				.container
					.profit__inner
						.section-title.profit__title What Profit Can I Get?
						.profit__list
							.profit__item.profit__item--1
								.profit__info
									.profit__name Extend your audience, make the brand visible through:
									.profit__txt
										span PowerPoint
										span Business cards
										span Logo
									a(href="#profit01").btn.profit__btn Details
								.profit__img
									img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig1.svg" alt="profit")
							.profit__item.profit__item--2
								.profit__img
									img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig2.svg" alt="profit")
								.profit__info
									.profit__name Catch attention, be recognizable, boost direct income due to:
									.profit__txt
										span Flyers and posters
										span Brochures
										span Stationary
									a(href="#profit02").btn.profit__btn Details
							.profit__item.profit__item--3
								.profit__info
									.profit__name Get more followers, shares, conversions and drive your sales thanks to:
									.profit__txt
										span Social media covers and post
										span Web banners
									a(href="#profit03").btn.profit__btn Details
								.profit__img
									img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig3.svg" alt="profit")
							.profit__item.profit__item--4
								.profit__column
								.profit__img
									img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig4.svg" alt="profit")
								.profit__info
									.profit__name Encourage, care and gain the trust of your clients via:
									.profit__txt
										span Coupons and discounts
										span Greeting cards
									a(href="#profit04").btn.profit__btn Details

		.section.standart-padding
			.effort
				.container
					.effort__inner
						.section-title.effort__title Effortlessly Get Started
						.effort__content
							.effort__row.effort__row-stop
								.effort__list
									.effort__item Stop spending hours looking for “perfect marketing materials examples”;
									.effort__item Stop hiring designers to create some stunning layout for the effective brochure;
									.effort__item Stop paying tons of money for every print item variation or web banner to drive your sales;
								.effort__img.b-lazy(data-blazy="./img/effo-get-star1.svg")
							.effort__row.effort__row-start
								.effort__img.b-lazy(data-blazy="./img/effo-get-star2.svg")
								.effort__list
									.effort__item Start saving money for expensive design services and guides;
									.effort__item Start working on real strategies using basic marketing materials for small business;
									.effort__item Start promotion today and get the profit now.
							.effort__btn-wrap
								a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-blue.effort__btn Start now

		.section
			.key.b-lazy(data-blazy="./img/what-the-key__bottom-bg.svg")
				.container
					.key__inner
						.section-title.section-title--white.key__title What are the Key Features of
							br
							| Marketing Packages for Small Business?
						.key__content
							.key__list
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key1.svg")
										.key__item-name Save time and money
										.key__item-txt Utilizing readymade marketing material templates is less time-consuming than creating designs from the ground up. Eventually, it results in cost savings for a company. The cost of creating preset forms will be considerably less expensive than having to reinvent documents every time they are needed.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key2.svg")
										.key__item-name Professional graphic design
										.key__item-txt Even if you don’t have graphic design experience, you probably know how to make adjustments to existing graphics. That’s the beauty of using a template: you already know how to use it.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key3.svg")
										.key__item-name Multiple file format
										.key__item-txt Includes all file formats for both Mac and Windows. The templates are all delivered in Adobe InDesign, Adobe Illustrator, Adobe Photoshop, MS PowerPoint, MS Word, Apple Pages formats. So, you're able to choose the format you want.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key4.svg")
										.key__item-name Variety of templates
										.key__item-txt If you're looking to put together some brochure, banner and so on to show off your corporate identity and branding guidelines, this business marketing kit is for you. You'll get hundreds of high-quality, promotional marketing material ideas in 1 easy-to-use bundle solution!
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key5.svg")
										.key__item-name Variety of categories
										.key__item-txt Different types of marketing materials cover a huge variety of topics and categories including real estate, banking, insurance, production promotion, discounted services, travel, fashion, and more.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key6.svg")
										.key__item-name Variety of styles
										.key__item-txt This bundle includes a variety of styles to show off your brand guidelines. You'll find simplistic layouts, minimalistic designs, along with other professionally designed templates. The styles will suit almost any kind of project, besides include modern, colorful designs.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key7.svg")
										.key__item-name Print-ready CMYK
										.key__item-txt All the print templates are hi-res, high-quality CMYK files at 300 DPI with 3 mm bleed, making them print-ready, so as soon as you update your company info, you're good to go!
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key8.svg")
										.key__item-name Easily customizable
										.key__item-txt Designed according to high standards, these templates are really simple to customize. You can easily update features like color swatches, editable text, vector-based icons, etc.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key9.svg")
										.key__item-name One-click color change
										.key__item-txt Using the “Global Color” feature, you can change the color of the entire booklet to match your brand, with just one click.
										.key__item-btn-more
											a(href="javascript:void(0);") Read more
								.key__item
									.key__item-content
										.key__item-img.b-lazy(data-blazy="./img/what-the-key10.svg")
										.key__item-name Brand consistency
										.key__item-txt All the designs you choose for your brand should be consistent so that your audience can tie them together and know it comes from the same business. It means keeping the consistent visual elements like brand color palette and templates. All of those things are taken into consideration here
										.key__item-btn-more
											a(href="javascript:void(0);") Read more

		.section.standart-padding
			.marketing
				.container
					.marketing__inner
						.section-title.marketing__title What do I Need to Own Professional Marketing Materials?
						.marketing__content.b-lazy(data-blazy="./img/cloud04.svg")
							.marketing__list
								.marketing__item
									.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-cursor.svg")
									.marketing__txt <br>
										span Pick the marvelous <br>template you <br>preferred
								.marketing__item
									.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-arrow.svg")
									.marketing__txt
										span Easily customize it regarding your brand guidelines and business purposes
								.marketing__item
									.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-print.svg")
									.marketing__txt
										span Print or share via web and get more customers, sales, together with profits

		.section(id="profit01")
			.strok-block.b-lazy(data-blazy="./img/stroke-bg.svg")
				.container
					.strok-block__inner
						.section-title.section-title--white.strok-block__title Extend Your Audience, Make the Brand Visible and Boost the Profit Via Promotional Marketing Materials

		.section
			.info-block.block-1.info-block--bg-left.webp-img.b-lazy(data-webp="./img/presentation-frame.webp" data-img="./img/presentation-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 112
							| items
						.section-title.info-block__title Powerpoint Presentation
						.info-block__top
							.info-block__txt Always remember about the <b>Big Picture</b>.
								|  Especially, when you’re <b>presenting</b>
								|  your business to the others or discussing some <b>data</b>
								|  with the potential clients or just informing the audience about
								|  your brand. Webinars, meetings, conferences — they all require a <b>PowerPoint presentation.</b>
								|  You'll ask why this type of marketing material is so significant?
							.info-block__table
								.info-block__row
									.info-block__column
										span Most people are visuals
									.info-block__column
										span All your tons of words will be boring and static without <b>visual interaction</b>
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/presentation-frame.webp" data-img="./img/presentation-frame.png")
							.info-block__subtite Powerpoint presentation templates are great visual tools:
							.info-block__list
								.info-block__item Dozens of easy to edit high-quality slides;
								.info-block__item Every presentation is <b>unique</b> and helps to express each person's creativity plus style;
								.info-block__item All shapes, icons, maps, elements are 100% editable easy to change the size, colors without losing quality;
								.info-block__item The tone of infographics, illustrations to make your promotional marketing material ideas pop;
								.info-block__item All the templates are <b>multi-purpose</b>, furthermore, they can be used for any presentation project, company reports, lectures, exhibitions, etc;
								.info-block__item Marketing PPT set will help you turn data into an amazing presentation fast and save much time;
								.info-block__item One-click to change all colors to fully fit your brand’s color.
							.info-block__program
								.info-block__program-name
									span 112 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/p-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--powerpoint-presentation See all items
				.info-block__bottom.info-block__bottom--height-bg
					.container
						.info-block__bottom-txt
							| Dominate your market and use <b>PowerPoint</b> marketing material <br>templates for any meetings.

		.section
			.info-block.block-2.info-block--bg-right.webp-img.b-lazy(data-webp="./img/busniess-card-frame.webp" data-img="./img/busniess-card-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--left
							span 115
							| items
						.section-title.info-block__title Business Card
						.info-block__top
							.info-block__txt The business card is simply an awesome custom printed marketing material tool.
							.info-block__txt The <b>template solution</b> is the best for you to start. Why?
						.info-block__content.info-block__content--right
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/busniess-card-frame.webp" data-img="./img/busniess-card-frame.png")
							.info-block__subtite
							.info-block__list
								.info-block__item One of the basic benefits of starting with a <b>business card template</b> is to create a reasonably priced design <b>quickly</b>;
								.info-block__item Insert text, images into the template, substitute the color palette and you're ready to print in one sitting;
								.info-block__item Although a business card is a small piece, it can contain a lot of information;
								.info-block__item Both US and EU formats;
								.info-block__item Fully print-ready;
								.info-block__item Free fonts used.
							.info-block__program
								.info-block__program-name
									span 115 Items
									|  <br>compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/idml-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/id-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/word-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/pencil-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--business-card See all items
				.info-block__bottom
					.container
						.info-block__bottom-txt Here are a few hundreds of <b>unique business cards</b> to choose from.

		.section
			.info-block.block-3.info-block--bg-left.webp-img.b-lazy(data-webp="./img/creative-logo-frame.webp" data-img="./img/creative-logo-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 48
							| items
						.section-title.info-block__title Creative Logo
						.info-block__top
							.info-block__txt
								| If you’re looking for a quick start with logo design, experimenting with a high-quality <b>logo template</b> can be a great initial step.
							.info-block__txt
								| It can help you with a starting point for your logo design, which you can build and adapt.
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/creative-logo-frame.webp" data-img="./img/creative-logo-frame.png")
							.info-block__subtite All the templates cover the <br>following features:
							.info-block__list
								.info-block__item Fully editable colors;
								.info-block__item Easy to modify the text;
								.info-block__item Only free fonts used;
								.info-block__item Print-ready files;
								.info-block__item Resizable vector file;
								.info-block__item Personal and Commercial License;
								.info-block__item Adaptable vectors due to your needs;
								.info-block__item Handcrafted with love and attention.
							.info-block__program
								.info-block__program-name
									span 48 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--creative-logo See all items
				.info-block__bottom.info-block__bottom--height-bg
					.container
						.info-block__bottom-txt
							| This collection of logo templates cover a huge variety of color and form. <br>
							b  Choose the one you like and effortlessly get started!

		.section
			.blue-block.bg-grey
				.blue-block__inner
					.container
						.blue-block__item
							.blue-block__persona.blue-block__persona--1.b-lazy(data-blazy="./img/personal1.svg")
							.blue-block__leaf.blue-block__leaf--1.b-lazy(data-blazy="./img/konoha.svg")
							.blue-block__item-content-wrap
								.blue-block__item-content
									.section-title.section-title--white.blue-block__title Transform Your Visuals Into Real Benefits
									.blue-block__txt
										| Only 2 days offer!
										br
										| Catch marketing materials design just for
										span  $29
									.blue-block__btn-wrap.btn-pulse
										a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.btn-bg-blue.blue-block__btn
											span Grab it now

		.section(id="profit03")
			.strok-block.b-lazy(data-blazy="./img/stroke-bg.svg")
				.container
					.strok-block__inner
						.section-title.section-title--white.strok-block__title Get More Followers, Shares, Conversions and Drive Your Sales Through the Best Marketing Materials

		.section
			.info-block.block-4.info-block--bg-left.webp-img.b-lazy(data-webp="./img/social-media-frame.webp" data-img="./img/social-media-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 312
							| items
						.section-title.info-block__title Social Media Covers and Posts
						.info-block__top
							.info-block__txt
								|  If people can’t find your business via <b>social media</b>, they will look for your competitors who ARE present on preferred social channels. That’s why you have to <b>keep connected</b> with your audience as well as <b>convert</b> your visitors to customers.
								|  To stand out from the crowd you can easily with the help of creative digital marketing materials like <b>social media posts</b>.
							.info-block__table.info-block__table--cw50
								.info-block__row
									.info-block__column
										span Everything should be done in a definite color palette, style and look like the one brand harmony;
									.info-block__column
										span Facebook, LinkedIn, Youtube will be great tools for searches and reviews;
								.info-block__row
									.info-block__column
										span Different types of social media templates cover all your web activity;
									.info-block__column
										span Etsy network helps you to convert visitors into customers and increase your profit.
								.info-block__row
									.info-block__column
										span Platforms like Instagram, Pinterest, and Twitter will offer you even more opportunities to <b>share</b> your posts, content, along with promotions;
									.info-block__column
										span Eye-catching templates that come in different sizes help you to increase social presence with striking posts.
							.info-block__txt.info-block__txt--mt40
								| Don’t just add network connections and sign out — join groups, enter into dialogue with connections, share your blog posts. <br>This will make your company look responsive and credible.
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/social-media-frame.webp" data-img="./img/social-media-frame.png")
							.info-block__subtite You get a complete ready-to-use <br>digital marketing package for <br>small business:
							.info-block__list
								.info-block__item Facebook Cover, Photo Post, Event Cover, App / Tab Image;
								.info-block__item Twitter Header, In-stream Photo;
								.info-block__item LinkedIn Company Cover, Post Header, Profile Banner, Update/Blog Post;
								.info-block__item Instagram Feed Square, Feed Landscape; <br> Pinterest Pin, Board Cover;
								.info-block__item YouTube Channel Cover, Video Thumbnail;
								.info-block__item Etsy Cover, Listing Photo, Shop Banner;
								.info-block__item Tumblr Image Post, Banner;
								.info-block__item Social Media Universal Post.
							.info-block__program
								.info-block__program-name
									span 312 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--social-media-covers See all items
				.info-block__bottom.info-block__bottom--height-bg

		.section
			.info-block.block-5.info-block--bg-right.webp-img.b-lazy(data-webp="./img/web-banner-frame.webp" data-img="./img/web-banner-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--left
							span 264
							| items
						.section-title.info-block__title Web Banners
						.info-block__top
							.info-block__txt For several reasons, you may need to create a <b>web banner</b>: for your social media profile, advertisements, blog, etc. You can use the <b>banner template</b> to inspire something unique, or simply add your branding and keep the rest alike. When you're launching some event or service in no time to attract more eyes — and more clicks, increase the bigger audience. A web banner template is the best marketing material solution.
						.info-block__content.info-block__content--right
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/web-banner-frame.webp" data-img="./img/web-banner-frame.png")
							.info-block__subtite
							.info-block__list
								.info-block__item Banner templates are perfect for any personal or corporate use;
								.info-block__item Professional and clean structured files with well-organized layers and layer groups;
								.info-block__item Made with attention to details and following the latest trends in design;
								.info-block__item Quick and easy to customize templates;
								.info-block__item Vector shapes;
								.info-block__item Free fonts used.
							.info-block__program
								.info-block__program-name
									span 264 Items
									|   compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--web-banners See all items
				.info-block__bottom
					.container
						.info-block__bottom-txt With fully customizable digital marketing packages for small business, <br>you won't have to worry about creating the right size banner to meet ad <br>platform requirements. Get professional results in a minute! <br>
							| <b>More clicks = more followers, conversions, sales, etc.</b>

		.section
			.blue-block.bg-grey.blue-block--revers
				.blue-block__inner
					.container
						.blue-block__item
							.blue-block__persona.blue-block__persona--2.b-lazy(data-blazy="./img/personal2.svg")
							.blue-block__leaf.blue-block__leaf--2.b-lazy(data-blazy="./img/konoha2.svg")
							.blue-block__item-content-wrap
								.blue-block__item-content
									.section-title.section-title--white.blue-block__title Convert Your Visitors <br>to Customers
									.blue-block__txt
										| Only 2 days offer!
										br
										| Catch marketing materials design just for
										span  $29
									.blue-block__btn-wrap.btn-pulse
										a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.btn-bg-blue.blue-block__btn
											span Grab it now

		.section(id="profit02")
			.strok-block.b-lazy(data-blazy="./img/stroke-bg.svg")
				.container
					.strok-block__inner
						.section-title.section-title--white.strok-block__title Draw Attention, Be Recognizable, <br>Drive Direct Income Thanks to <br>Print Marketing Materials

		.section
			.info-block.block-6.info-block--bg-left.webp-img.b-lazy(data-webp="./img/flyers-and-posters-frame.webp" data-img="./img/flyers-and-posters-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 115
							| items
						.section-title.info-block__title Flyer and Poster Designs
						.info-block__top
							.info-block__txt
								| A well-designed <b>flyer</b> captures users' attention and is something people want to hold on to — literally. You may be very <br>surprised, but print marketing materials <b>drive</b> the local sales. <br>
								| The first is advertising, then promotion, then profit. Such a chain really works!
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/flyers-and-posters-frame.webp" data-img="./img/flyers-and-posters-frame.png")
							.info-block__subtite It's easier than you might think <br>to use a flyer template:
							.info-block__list
								.info-block__item Spotless and professionally designed;
								.info-block__item Fully editable, easy to change colors, texts, images;
								.info-block__item Very simple pictures replacement via smart object;
								.info-block__item Layers are labeled, organized in groups for easy navigation;
								.info-block__item Alterable, designed to fit two most popular flyer sizes;
								.info-block__item Works perfectly for different areas.
							.info-block__program
								.info-block__program-name
									span 115 Items
									|  <br>compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/idml-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/id-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/word-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/pencil-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--flyers See all items

		.section
			.how-should
				.how-should__inner
					.container
						.how-should__title How should i work with print marketing materials?
						.how-should__content
							.how-should__item
								span Download the file <br>and open it in the <br>suitable software
							.how-should__spacer
								.how-should__circle.b-lazy(data-blazy="./img/right-arrows-white.svg")
							.how-should__item
								span Make the appropriate <br>text and image <br>customizations
							.how-should__spacer
								.how-should__circle.b-lazy(data-blazy="./img/right-arrows-white.svg")
							.how-should__item
								span Print it and double <br>your profit
						.how-should__txt That's it! The same story is about posters.
					.info-block__bottom
						.container
							.info-block__bottom-txt.info-block__bottom-txt--min-padding Scroll the <b>flyer and poster templates</b> set, have a look at the variety of styles <br>and niches it covers. Just evaluate and get it!

		.section
			.info-block.block-7.info-block--bg-right.webp-img.b-lazy(data-webp="./img/brochure-frame.webp" data-img="./img/brochure-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--left
							span 115
							| items
						.section-title.info-block__title Professional Brochure
						.info-block__top
							.info-block__txt The cool brochure should have one aim: teach your target audience! No matter to display your business, <br>describe a marketing strategy to your team, or promote your services at the event, a brochure can be a huge <br>explanatory item that delivers <b>powerful results.</b> When you have a <b>brochure</b> in your bag or at the conference — <br>it always makes an impression on the customer plus <b>increases your level.</b>
						.info-block__content.info-block__content--right
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/brochure-frame.webp" data-img="./img/brochure-frame.png")
							.info-block__subtite Why should I use such company marketing material like a brochure template?
							.info-block__list
								.info-block__item  Using a template will help you save a lot of time and money that goes into that design process;
								.info-block__item  The <b>brochure template</b> is perfect for business as well as corporate purposes;
								.info-block__item  Clean, modern and high-quality <b>variety of bifold and trifold</b> templates;
								.info-block__item  Easy to edit and customize, versatile, attractive design — ready for the promotion as well as other marketing goals;
								.info-block__item  Works perfectly for different areas to showcase your business in the best possible way;
								.info-block__item  <b>An effective content</b> arrangement that you can click to edit, paste your text, and replace the images.
							.info-block__program
								.info-block__program-name
									span 115 Items
									| <br> compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/idml-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/id-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/word-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/pencil-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--professional-brochure See all items
				.info-block__bottom
					.container
						.info-block__bottom-txt.info-block__bottom-txt--min-padding Get more for your promotion with the set of <b>professional Bifold and Trifold Brochures!</b>

		.section
			.info-block.block-8.info-block--bg-left.webp-img.b-lazy(data-webp="./img/stationary-frame-1.webp" data-img="./img/stationary-frame-1.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 207
							| items
						.section-title.info-block__title Stationery
						.info-block__top
							.info-block__txt
								| We don't know what kind of business you have, how you handle it and so on. But we do know that <b>paperwork <br>needs to be in order.</b>
								| To make your paperwork look nice and suit your brand just use the professional <br><b>envelope, letterhead, and folder templates.</b>
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/stationary-frame-1.webp" data-img="./img/stationary-frame-1.png")
							.info-block__subtite The stationary template is like <br>your Fairy Godmother:
							.info-block__list
								.info-block__item A series of templates help to present your business clear and cohesively;
								.info-block__item The stationary set is a good match for your personal or commercial needs;
								.info-block__item Files are print-ready. High Resolution. 300 dpi. CMYK;
								.info-block__item Free fonts used only;
								.info-block__item Easy to use and customize the layered template.
							.info-block__program
								.info-block__program-name
									span 207 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/eps-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--stationary See all items

				.info-block__bottom
					.container
						.info-block__bottom-txt.info-block__bottom-txt--min-padding Just follow a marketing materials checklist for small business — make your inside <br>office world clean and clear!

		.section
			.blue-block.bg-grey
				.blue-block__inner
					.container
						.blue-block__item
							.blue-block__persona.blue-block__persona--3.b-lazy(data-blazy="./img/personal3.svg")
							.blue-block__leaf.blue-block__leaf--3.b-lazy(data-blazy="./img/konoha.svg")
							.blue-block__item-content-wrap
								.blue-block__item-content
									.section-title.section-title--white.blue-block__title Raise Awareness and Level Up Your Brand
									.blue-block__txt
										| Only 2 days offer!
										br
										| Obtain marketing materials design just for
										span  $29
									.blue-block__btn-wrap.btn-pulse
										a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.btn-bg-blue.blue-block__btn
											span Obtain it now

		.section(id="profit04")
			.strok-block.b-lazy(data-blazy="./img/stroke-bg.svg")
				.container
					.strok-block__inner
						.section-title.section-title--white.strok-block__title Developing Marketing Materials Will Encourage, Care and Gain the Trust <br>of Your Clients

		.section
			.info-block.block-9.info-block--bg-left.webp-img.b-lazy(data-webp="./img/greeting-frame.webp" data-img="./img/greeting-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--left
							span 48
							| items
						.section-title.info-block__title Greeting Cards
						.info-block__top
							.info-block__txt The client is always right. Yes, we can argue with this statement either. <br>
								| Nevertheless, you should always care about your clients and wish them all the best via <b>greeting cards,</b> for instance. At least, they chose you, think about it.
						.info-block__content.info-block__content--left
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/greeting-frame.webp" data-img="./img/greeting-frame.png")
							.info-block__subtite Why are greeting templates cool <br>and helpful marketing materials <br>for small business?
							.info-block__list
								.info-block__item Just a small piece of paper, but such incredible gratitude and care;
								.info-block__item The templates for every mood and holiday occasion, only pick your favorite;
								.info-block__item Easy to customize, also fully layered;
								.info-block__item Simply select your template, add your text or even swap the image with your own if you need it;
								.info-block__item Print-ready marketing materials with bleed and crop marks.
							.info-block__program
								.info-block__program-name
									span 48 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--greeting-cards See all items
				.info-block__bottom.info-block__bottom--height-bg
					.container
						.info-block__bottom-txt.info-block__bottom-txt--min-padding Grab business marketing materials design — so you can make your own fabulous <br><b>greeting cards</b> — no design experience required. <br> Dive into the <b>gorgeous collection</b> right here!

		.section
			.info-block.block-10.info-block--bg-right.webp-img.b-lazy(data-webp="./img/coupons-frame.webp" data-img="./img/coupons-frame.png")
				.container
					.info-block__inner
						.info-block__jaw.info-block__jaw--right
							span 48
							| items
						.section-title.info-block__title Coupons and Discounts
						.info-block__top
							.info-block__txt
								| <b>Coupons</b> and deals are part of any business. Everyone loves a good <b>deal.</b>
								| What is a better way to let people in <br> on your deal than with <b>exclusive</b> coupons? <br>
								| By creating marketing materials for a small business like coupons, you don't just offer a discount to customers <br>— you offer your <b>brand</b> passport, and that's the real power of creativity.
								| Hold regular sales, promotions, raffles <br> and get extra <b>rewards</b>!
						.info-block__content.info-block__content--right
							.info-block-img--mobile.webp-img.b-lazy(data-webp="./img/coupons-frame.webp" data-img="./img/coupons-frame.png")
							.info-block__subtite Coupon templates are useful <br>knick-knacks:
							.info-block__list
								.info-block__item They’re completely customizable to suit your brand's colors and corporate fonts;
								.info-block__item Items are print-ready for your professional use;
								.info-block__item Simple and clean structured files;
								.info-block__item Quick and easy to customize templates;
								.info-block__item Well organized layers and layer groups;
								.info-block__item 300 DPI resolution;
								.info-block__item Free fonts used.
							.info-block__program
								.info-block__program-name
									span 48 Items
									|  compatible with
								.info-block__program-list
									.info-block__program-img.b-lazy(data-blazy="./img/ai-ico.svg")
									.info-block__program-img.b-lazy(data-blazy="./img/ps-ico.svg")
							.info-block__btn-wrap
								a(href="javascript:void(0);").btn.info-block__btn.info-block__btn--coupons-discounts See all items
				.info-block__bottom
					.container
						.info-block__bottom-txt.info-block__bottom-txt--min-padding Get your promotion out with zero cost and no stress. <br>
							| To give you the professional look, <b>coupon templates</b> with unique designs and <br>typography are here.

		.section
			.blue-block.bg-grey.blue-block--revers
				.blue-block__inner
					.container
						.blue-block__item
							.blue-block__persona.blue-block__persona--4.b-lazy(data-blazy="./img/personal4.svg")
							.blue-block__leaf.blue-block__leaf--4.b-lazy(data-blazy="./img/konoha3.svg")
							.blue-block__item-content-wrap
								.blue-block__item-content
									.section-title.section-title--white.blue-block__title Excite Your Audience Now and Expand Tomorrow
									.blue-block__txt
										| Only 2 days offer!
										br
										| Accept marketing materials design just for
										span  $29
									.blue-block__btn-wrap.btn-pulse
										a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.btn-bg-blue.blue-block__btn
											span Accept it now

		.section
			.info-block
				.container
					.info-block__inner
						.section-title.info-block__title Business Marketing Materials <br>are Suitable for a Different <br>Design Skills Level
						.info-block__top
							.info-block__txt This collection helps you create different print and web marketing materials even if you're <b>not a designer.</b> It'll save <br>you time, so you can focus on other areas of your marketing efforts.
							.info-block__table.info-block__table--cw50
								.info-block__row
									.info-block__column
										span If you want to start with one of the many included templates and add your content, upload it and arrange on the page — you can use <b>MS Word, MS PowerPoint or Apple Pages</b> formats for template customization.
									.info-block__column
										span When you've already dealt with Adobe Photoshop, Adobe Illustrator or Adobe InDesign software, it wouldn’t be a puzzle to start working with these templates.
							.info-block__txt.info-block__txt--mt40(style="margin-top: 65px;") Here are presented <b>6 file formats for professional and amateurs use.</b> Includes all file formats for both Mac and <br>Windows. The templates are all delivered in:
							.info-block__table.info-block__table--cw33.info-block__table--program
								.info-block__row
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/id-ico.svg")
											.info-block__column--img-item.b-lazy(data-blazy="./img/idml-ico.svg")
										.info-block__column--microtitle Adobe InDesign
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/ai-ico.svg")
											.info-block__column--img-item.b-lazy(data-blazy="./img/eps-ico.svg")
										.info-block__column--microtitle Adobe Illustrator
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/ps-ico.svg")
										.info-block__column--microtitle Adobe Photoshop
								.info-block__row
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/p-ico.svg")
										.info-block__column--microtitle MS PowerPoint
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/word-ico.svg")
										.info-block__column--microtitle MS Word
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/pencil-ico.svg")
										.info-block__column--microtitle Apple Pages

							.info-block__table.info-block__table--cw50.info-block__table--program-mobile
								.info-block__row
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/id-ico.svg")
										.info-block__column--microtitle Adobe InDesign
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/ai-ico.svg")
										.info-block__column--microtitle Adobe Illustrator
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/idml-ico.svg")
										.info-block__column--microtitle Adobe InDesign
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/eps-ico.svg")
										.info-block__column--microtitle Adobe Illustrator
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/ps-ico.svg")
										.info-block__column--microtitle Adobe Photoshop
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/pencil-ico.svg")
										.info-block__column--microtitle Apple Pages
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/p-ico.svg")
										.info-block__column--microtitle MS PowerPoint
									.info-block__column
										.info-block__column--img
											.info-block__column--img-item.b-lazy(data-blazy="./img/word-ico.svg")
										.info-block__column--microtitle MS Word

							.info-block__txt.info-block__txt--mt40 So, you're able to choose the format you want.

		.section
			.here-what.bg-grey
				.here-what__conteiner.b-lazy(data-blazy="./img/cloud05.svg")
					.container
						.here-what__inner
							.section-title.here-what__title Here is What You Get
							.here-what__content
								.here-what__list
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico01.svg")
										.here-what__number 2000+
										.here-what__txt Captivating print<br>marketing materials
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico02.svg")
										.here-what__number 120+
										.here-what__txt Effective social <br>network posts
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico03.svg")
										.here-what__number 120+
										.here-what__txt Creative logo<br>design
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico04.svg")
										.here-what__number 480+
										.here-what__txt Catchy web<br>banners
								.here-what__list
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico05.svg")
										.here-what__number 2000+
										.here-what__txt Clean stationery<br>items
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico06.svg")
										.here-what__number 480+
										.here-what__txt Stunning greeting<br>cards
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico07.svg")
										.here-what__number 120+
										.here-what__txt High-quality PowerPoint<br>presentations
									.here-what__item
										.here-what__ico.b-lazy(data-blazy="./img/hiw-ico08.svg")
										.here-what__number &infin;
										.here-what__txt Saved time, effort and<br>money

		.section
			.info-block.risk
				.container
					.info-block__inner
						.section-title.info-block__title.risk__title Try It Without a Risk!
						.info-block__txt Don't be afraid of using these marketing packages for small business. Customize the templates, get profit and <br>customers. Start your promotion campaign, announce your brand to others.
						.risk__content
							.risk__item
								.risk__ico.b-lazy(data-blazy="./img/risk-money-ico.svg")
								.risk__txt If you aren’t satisfied with it within 7 days of purchase we will give you a full refund.
							.risk__item
								.risk__ico.b-lazy(data-blazy="./img/risk-mail-ico.svg")
								.risk__txt Nevertheless, if you need some technical or support assistance, feel free to contact us at
									a(href="mailto:info@ambr.ws")  info@ambr.ws

		.section.standart-padding
			.opti.bg-grey
				.container
					.opti__inner
						.section-title.opti__title Optimized Funnel to Make You <br>Great Commissions
						.opti__columns
							.opti__column
								.opti__item
									.opti__top
										span FE Full set with Commercial license
									.opti__center
										.opti__list
											.opti__list-item  Available for commercial use;
											.opti__list-item  Unlimited end products for sale;
											.opti__list-item  Unlimited broadcast use;
											.opti__list-item  One commercial account for social media use;
											.opti__list-item  Unlimited physical paid ads for local markets
									.opti__bottom
										span $29
							.opti__column
								.opti__item
									.opti__top
										span OTO #1 Full set with Extended license
									.opti__center
										.opti__list
											.opti__list-item  Available for commercial use;
											.opti__list-item  Unlimited end products for sale;
											.opti__list-item  Unlimited broadcast use;
											.opti__list-item  Multiple commercial accounts for social media use;
											.opti__list-item  Unlimited physical paid ads for local, national, and global markets;
											.opti__list-item  One Mobile, Desktop or Web App Use;
											.opti__list-item  Additional bonus templates
									.opti__bottom
										span $99
						.opti__content
							.opti__subtitle Commercial license is suitable for:
							.opti__txt Usage of the template for physical commercial advertisements like billboards, signage, and collateral in local markets only. There’s no restriction on digital advertisements. You may use templates for commercial activities in one personal or individual social media account.
							.opti__subtitle Extended license is perfect for:
							.opti__txt Usage of the template for physical commercial advertisements like billboards, signage, and collateral in local, national, or global markets. There’s also no restriction on digital advertisements. You may use templates for commercial activities in multiple social media accounts. Besides, you’re able to use the templates in one native app, web app, or game.

		.section
			.extended
				.extended__inner
					.extended__container
						.section-title.section-title--white.extended__title Get Extended LicenseE And Receive<br>Extensive Bonuses
						.extended__txt You’ll receive an awesome extra bonus if you choose the extended license set! It covers a huge variety<br>of topics and categories. Pick up stunning print materials in both EPS and PSD file formats.
						.extended__item
							.extended__content
								.extended__column
									img.extended__img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/extended-man.svg" alt="extended")
								.extended__column
									.extended__subtitle Bonus templates selection <br>involves:
									.extended__list
										.extended__list-item Social Media Covers & Posts
										.extended__list-item Flyers
										.extended__list-item Posters
										.extended__list-item Business Cards
										.extended__list-item Document Covers
										.extended__list-item Notebooks
									.extended__subtitle Such a compilation covers:
									.extended__list
										.extended__list-item Fashion & beauty events
										.extended__list-item Festivals & exhibitions
										.extended__list-item Party & celebration
										.extended__list-item Seasonal holiday occasion
										.extended__list-item Sales & discounts
										.extended__list-item Business
										.extended__list-item Sport & travel
								.extended__item-bottom-bg.webp-img.b-lazy(data-webp="./img/extended-bg-white.webp" data-img="./img/extended-bg-white.png")
				.extended__container
					.extended__bottom
						.extended__row
							.extended__row-txt
								span Choose the extended license product type and double your superpower! Increase your profit thanks to exclusive social media templates. Get more followers to your company, share the post and extend the audience, gain more click and get more conversions. Be on the top in your sphere!
							.extended__row-img
								.extended__row-img-item.b-lazy(data-blazy="./img/bonus1.svg")
						.extended__row
							.extended__row-img
								.extended__row-img-item.b-lazy(data-blazy="./img/bonus2.svg")
							.extended__row-txt
								span Can you imagine local marketing without flyers, posters or business cards? We neither. A bonus set will make you recognizable in a fashion, real estate, finance or even jewelry sphere. If you own a little flower shop or a huge fitness studio or maybe a cozy pizza pub, you always need a proper advertisement. More ads — more visitors, more guests — more benefits!
						.extended__row
							.extended__row-txt
								span Keep everything clear either business or documents and papers. Neat and minimalistic documents and notebook design will make your office look better and respectful. Let your elegant art gallery, modern barbershop or pleasant bakery be trendy and orderly.
							.extended__row-img
								.extended__row-img-item.b-lazy(data-blazy="./img/bonus3.svg")

				.extended__gifr.bg-grey
					.extended__container
						.extended__gifr-item
							.extended__gifr-item-img.b-lazy(data-blazy="./img/gift.svg")
							.extended__gifr-item-txt Feel the benefits stationaryof bonus materials and force your target!
						//.extended__gifr-content
						//	.extended__gifr-subtitle Partner Commissions
						//	.extended__gifr-txt We pay our affiliates a 50% commission for every product sale. We also grant ready-to-use marketing materials to help your promotions: banners, text ads, and newsletters.


		.section.standart-padding
			.clock-block.clock-block--bottom
				.container
					.section-title.section-title--white Boost your Sales with Powerful <br>Marketing Materials for Small Business
					.clock-block__inner
						.clock-block__txt
							| Only 2 days offer!
							br
							| Catch marketing materials design just for
							span  $29
					.clock-block__item.b-lazy(data-blazy="./img/konoha-x2.svg")
						.clock-block__item-content#countdown1
							.clock-block__item-column
								.clock-block__item-digit.days 02
								.clock-block__item-txt Days
							.clock-block__item-column
								.clock-block__item-digit.hours 12
								.clock-block__item-txt Hours
							.clock-block__item-column
								.clock-block__item-digit.minutes 24
								.clock-block__item-txt Minutes
							.clock-block__item-column
								.clock-block__item-digit.seconds 36
								.clock-block__item-txt Seconds
							.clock-block__deadline-message.deadline-message Time is up!

					.clock-block__btn-wrap.btn-pulse
						a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.btn-bg-blue.clock-block__btn
							span Get with the discount now
