doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name="viewport" content="initial-scale=1.0, width=device-width")
		title Promotion fob Affiliates
		link(rel="icon" href="img/favicon.ico" type="image/x-icon")
		meta(name="description", content='Boost Your Sales With Powerful Marketing Materials For Small Business')

		link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet', href='css/style.min.css')

	body.page
		.page__wrapper

			main.page__content
				div.main-wrap.promotion
					h1.main-title-page Boost your Sales With Powerful Marketing Materials For Small Business

					.header
						.container
							.header__inner
								.header__menu-btn
									img(src="./img/burger.svg" alt="menu")
								.header__left
									.header__left-txt
										span On January 4 – 11 AM EST
										| You’re Invited to... Join Huge Opportinity!
								.header__right
									.nav
										.nav__list
											.nav__item
												a(href="javascript:void(0);").nav__link Sales Page
											.nav__item
												a(href="javascript:void(0);").nav__link Affiliate Link
											.nav__item
												a(href="javascript:void(0);").nav__link Swipes
											.nav__item
												a(href="javascript:void(0);").nav__link Promo Tools
											.nav__item
												a(href="javascript:void(0);").nav__link Contacts

					.section
						.top-block.b-lazy(data-blazy="./img/top-blue-bg.svg")
							.container
								.top-block__inner
									.section-title.section-title--white.top-block__title Boost Your Sales With Powerfull Marketing Materials For Small Business
									.top-block__subtitle Kick The Year Off Right, Promoting The Best Marketing Materials For <br>Successful And Effective Business Promotion At An Incredibly Low Price
									.top-block__content.b-lazy(data-blazy="./img/rocket.svg")
										.first-block__list
											.first-block__item
												b 2500+
												|  high-quality and easy to use <br>graphic design templates;
											.first-block__item
												b 100+
												|  variations of styles to cover all your <br>requirements;
											.first-block__item
												b 6
												|  file formats for professional and amateurs <br>use both Mac as well as Windows;
											.first-block__item Countless save time, effort and money.

					.section.form-block-section
						.container
							.form-block
								.form-block__inner.mobile-top.webp-img.b-lazy(data-webp="./img/form-bg.png" data-img="./img/form-bg.png")
									.form-block__content
										.form-block__left
											.form-block__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/form-img.svg" alt="img")
										.form-block__right
											form
											.form-block__title Fill in the Form Below to Get Partners News & Updates!
											.form-block__row
												input(type="text" placeholder="Enter Your Name").form-block__input
											.form-block__row
												input(type="email" placeholder="Enter Your Email").form-block__input
											.form-block__row
												.form-block__checkbox
													span Send me Updates
													input(type="checkbox" id="checkbox01" checked)
													label(for="checkbox01")
											.form-block__row
												button(type="submit").btn.btn-blue.form-block__btn Get Your Affiliate Link Now



					.section
						.promotion-video.b-lazy(data-blazy="./img/promotion-video-blue-bg.svg")
							a.first-block__video-link.first-block__video-link--mobile.link.webp-img.b-lazy(data-webp="./img/video-mobile.webp" data-img="./img/video-mobile.png" href="javascript:void(0);")
							.first-block__video-laptop.promotion-video-laptop
								.first-block__video-laptop-bg.promotion-video__video-laptop-bg.webp-img.b-lazy(data-webp="./img/macbook-pro-clay.webp" data-img="./img/macbook-pro-clay.png")
								a#videSrc.first-block__video-link.link.webp-img.b-lazy(data-webp="./img/video-placeholder.webp" data-img="./img/video-placeholder.png" href="javascript:void(0);" data-video="https://www.youtube.com/embed/P3-lbPpxUEw?enablejsapi=1")

							.promotion-video__btn-wrap.btn-pulse
								a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.promotion-video__btn
									span JVZoo Affiliate Link

					.section.standart-padding
						.profit.bg-grey
							.container
								.profit__inner
									.section-title.profit__title What Profit Can I Get?
									.profit__list
										.profit__item.profit__item--1
											.profit__info
												.profit__name Extend your audience, make the brand visible through:
												.profit__txt
													span PowerPoint
													span Business cards
													span Logo
												a(href="javascript:void(0);").btn.profit__btn Details
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig1.svg" alt="profit")
										.profit__item.profit__item--2
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig2.svg" alt="profit")
											.profit__info
												.profit__name Catch attention, be recognizable, boost direct income due to:
												.profit__txt
													span Flyers and posters
													span Brochures
													span Stationary
												a(href="javascript:void(0);").btn.profit__btn Details
										.profit__item.profit__item--3
											.profit__info
												.profit__name Get more followers, shares, conversions and drive your sales thanks to:
												.profit__txt
													span Social media covers and post
													span Web banners
												a(href="javascript:void(0);").btn.profit__btn Details
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig3.svg" alt="profit")
										.profit__item.profit__item--4
											.profit__column
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/wpcig4.svg" alt="profit")
											.profit__info
												.profit__name Encourage, care and gain the trust of your clients via:
												.profit__txt
													span Coupons and discounts
													span Greeting cards
												a(href="javascript:void(0);").btn.profit__btn Details


					.section
						.key.b-lazy(data-blazy="./img/key-blue-bg-full.svg")
							.container
								.key__inner
									.section-title.section-title--white.key__title What Are the Key Features of
										br
										| Marketing Packages for Small Business?
									.key__content
										.key__list
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key01.svg")
													.key__item-name Save time and money
													.key__item-txt Utilizing readymade marketing material templates is less time-consuming than creating designs from the ground up. Eventually, it results in cost savings for a company. The cost of creating preset forms will be considerably less expensive than having to reinvent documents every time they are needed.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key02.svg")
													.key__item-name Professional graphic design
													.key__item-txt Even if you don’t have graphic design experience, you probably know how to make adjustments to existing graphics. That’s the beauty of using a template: you already know how to use it.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key03.svg")
													.key__item-name Multiple file format
													.key__item-txt Includes all file formats for both Mac and Windows. The templates are all delivered in Adobe InDesign, Adobe Illustrator, Adobe Photoshop, MS PowerPoint, MS Word, Apple Pages formats. So, you're able to choose the format you want.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key04.svg")
													.key__item-name Variety of templates
													.key__item-txt If you're looking to put together some brochure, banner and so on to show off your corporate identity and branding guidelines, this business marketing kit is for you. You'll get hundreds of high-quality, promotional marketing material ideas in 1 easy-to-use bundle solution!
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key05.svg")
													.key__item-name Variety of categories
													.key__item-txt Different types of marketing materials cover a huge variety of topics and categories including real estate, banking, insurance, production promotion, discounted services, travel, fashion, and more.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key06.svg")
													.key__item-name Variety of styles
													.key__item-txt This bundle includes a variety of styles to show off your brand guidelines. You'll find simplistic layouts, minimalistic designs, along with other professionally designed templates. The styles will suit almost any kind of project, besides include modern, colorful designs.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key07.svg")
													.key__item-name Print-ready CMYK
													.key__item-txt All the print templates are hi-res, high-quality CMYK files at 300 DPI with 3 mm bleed, making them print-ready, so as soon as you update your company info, you're good to go!
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key08.svg")
													.key__item-name Easily customizable
													.key__item-txt Designed according to high standards, these templates are really simple to customize. You can easily update features like color swatches, editable text, vector-based icons, etc.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key09.svg")
													.key__item-name One-click color change
													.key__item-txt Using the “Global Color” feature, you can change the color of the entire booklet to match your brand, with just one click.
													.key__item-btn-more
														a(href="javascript:void(0);") Read more
											.key__item
												.key__item-content
													.key__item-img.b-lazy(data-blazy="./img/promotion-key10.svg")
													.key__item-name Brand consistency
													.key__item-txt All the designs you choose for your brand should be consistent so that your audience can tie them together and know it comes from the same business. It means keeping the consistent visual elements like brand color palette and templates. All of those things are taken into consideration here
													.key__item-btn-more
														a(href="javascript:void(0);") Read more


					.section
						.info-block
							.container
								.info-block__inner
									.section-title.info-block__title Business Marketing Materials <br>are Suitable for a Different <br>Design Skills Level
									.info-block__top
										.info-block__txt This collection helps you create different print and web marketing materials even if you're <b>not a designer.</b> It'll save <br>you time, so you can focus on other areas of your marketing efforts.
										.info-block__table.info-block__table--cw50
											.info-block__row
												.info-block__column
													span If you want to start with one of the many included templates and add your content, upload it and arrange on the page — you can use <b>MS Word, MS PowerPoint or Apple Pages</b> formats for template customization.
												.info-block__column
													span When you've already dealt with Adobe Photoshop, Adobe Illustrator or Adobe InDesign software, it wouldn’t be a puzzle to start working with these templates.
										.info-block__txt.info-block__txt--mt40(style="margin-top: 65px;") Here are presented <b>6 file formats for professional and amateurs use.</b> Includes all file formats for both Mac and <br>Windows. The templates are all delivered in:
										.info-block__table.info-block__table--cw33.info-block__table--program
											.info-block__row
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/id-ico.svg")
													.info-block__column--microtitle Adobe InDesign
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/ai-ico.svg")
													.info-block__column--microtitle Adobe Illustrator
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/ps-ico.svg")
													.info-block__column--microtitle Adobe Photoshop
											.info-block__row
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/p-ico.svg")
													.info-block__column--microtitle MS PowerPoint
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/word-ico.svg")
													.info-block__column--microtitle MS Word
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/pencil-ico.svg")
													.info-block__column--microtitle Apple Pages

										.info-block__table.info-block__table--cw50.info-block__table--program-mobile
											.info-block__row
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/id-ico.svg")
													.info-block__column--microtitle Adobe InDesign
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/ai-ico.svg")
													.info-block__column--microtitle Adobe Illustrator
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/idml-ico.svg")
													.info-block__column--microtitle Adobe InDesign
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/eps-ico.svg")
													.info-block__column--microtitle Adobe Illustrator
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/ps-ico.svg")
													.info-block__column--microtitle Adobe Photoshop
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/pencil-ico.svg")
													.info-block__column--microtitle Apple Pages
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/p-ico.svg")
													.info-block__column--microtitle MS PowerPoint
												.info-block__column
													.info-block__column--img
														.info-block__column--img-item.b-lazy(data-blazy="./img/word-ico.svg")
													.info-block__column--microtitle MS Word

										.info-block__txt.info-block__txt--mt40 So, you're able to choose the format you want.

					.section.standart-padding
						.marketing.bg-grey
							.container
								.marketing__inner
									.section-title.marketing__title What do I Need to Own Professional Marketing Materials?
									.marketing__content.b-lazy(data-blazy="./img/cloud04.svg")
										.marketing__list
											.marketing__item
												.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-cursor.svg")
												.marketing__txt <br>
													span Pick the marvelous <br>template you <br>preferred
											.marketing__item
												.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-arrow.svg")
												.marketing__txt
													span Easily customize it regarding your brand guidelines and business purposes
											.marketing__item
												.marketing__img.b-lazy(data-blazy="./img/what-i-need__ico-print.svg")
												.marketing__txt
													span Print or share via web and get more customers, sales, together with profits


					.section
						.info-block.risk.promotion__strok.b-lazy(data-blazy="./img/big-strok-bg.svg")
							.container
								.info-block__inner
									.section-title.section-title--white.info-block__title.risk__title Try It Without a Risk!
									.info-block__txt Don't be afraid of using these marketing packages for small business. Customize the templates, get profit and <br>customers. Start your promotion campaign, announce your brand to others.
									.risk__content
										.risk__item
											.risk__ico.b-lazy(data-blazy="./img/risk-money-ico--white.svg")
											.risk__txt If you aren’t satisfied with it within 7 days of purchase we will give you a full refund.
										.risk__item
											.risk__ico.b-lazy(data-blazy="./img/risk-mail-ico--white.svg")
											.risk__txt Nevertheless, if you need some technical or support assistance, feel free to contact us at
												a(href="mailto:info@ambr.ws")  info@ambr.ws

					.section.form-block-section
						.container
							.form-block
								.form-block__inner.webp-img.b-lazy(data-webp="./img/form-bg.png" data-img="./img/form-bg.png")
									.form-block__content
										.form-block__left
											.form-block__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/form-img.svg" alt="img")
										.form-block__right
											form
											.form-block__title Fill in the Form Below to Get Partners News & Updates!
											.form-block__row
												input(type="text" placeholder="Enter Your Name").form-block__input
											.form-block__row
												input(type="email" placeholder="Enter Your Email").form-block__input
											.form-block__row
												.form-block__checkbox
													span Send me Updates
													input(type="checkbox" id="checkbox02" checked)
													label(for="checkbox02")
											.form-block__row
												button(type="submit").btn.btn-blue.form-block__btn Get Your Affiliate Link Now

					.section.standart-padding
						.opti
							.container
								.promotion-video__btn-wrap
									a(href="https://www.jvzoo.com/b/89407/335733/99" target="_blank").btn.btn-yellow.promotion-video__btn
										span JVZoo Affiliate Link
								.opti__inner
									.section-title.opti__title Optimized Funnel to Make You <br>Great Commissions
									.opti__columns
										.opti__column
											.opti__item
												.opti__top
													span FE Full set with Commercial license
												.opti__center
													.opti__list
														.opti__list-item  Available for commercial use;
														.opti__list-item  Unlimited end products for sale;
														.opti__list-item  Unlimited broadcast use;
														.opti__list-item  One commercial account for social media use;
														.opti__list-item  Unlimited physical paid ads for local markets
												.opti__bottom
													span $29
										.opti__column
											.opti__item
												.opti__top
													span OTO #1 Full set with Extended license
												.opti__center
													.opti__list
														.opti__list-item  Available for commercial use;
														.opti__list-item  Unlimited end products for sale;
														.opti__list-item  Unlimited broadcast use;
														.opti__list-item  Multiple commercial accounts for social media use;
														.opti__list-item  Unlimited physical paid ads for local, national, and global markets;
														.opti__list-item  One Mobile, Desktop or Web App Use;
														.opti__list-item  Additional bonus templates
												.opti__bottom
													span $99
									.opti__content
										.opti__subtitle Commercial license is suitable for:
										.opti__txt Usage of the template for physical commercial advertisements like billboards, signage, and collateral in local markets only. There’s no restriction on digital advertisements. You may use templates for commercial activities in one personal or individual social media account.
										.opti__subtitle Extended license is perfect for:
										.opti__txt Usage of the template for physical commercial advertisements like billboards, signage, and collateral in local, national, or global markets. There’s also no restriction on digital advertisements. You may use templates for commercial activities in multiple social media accounts. Besides, you’re able to use the templates in one native app, web app, or game.


					.section
						.extended
							.extended__inner.b-lazy(data-blazy="./img/top-blue-bg.svg")
								.extended__container
									.section-title.section-title--white.extended__title Get Extended LicenseE And Receive<br>Extensive Bonuses
									.extended__txt You’ll receive an awesome extra bonus if you choose the extended license set! It covers a huge variety<br>of topics and categories. Pick up stunning print materials in both EPS and PSD file formats.
									.extended__item
										.extended__content
											.extended__column
												img.extended__img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/extended-man.svg" alt="extended")
											.extended__column
												.extended__subtitle Bonus templates selection <br>involves:
												.extended__list
													.extended__list-item Social Media Covers & Posts
													.extended__list-item Flyers
													.extended__list-item Posters
													.extended__list-item Business Cards
													.extended__list-item Document Covers
													.extended__list-item Notebooks
												.extended__subtitle Such a compilation covers:
												.extended__list
													.extended__list-item Fashion & beauty events
													.extended__list-item Festivals & exhibitions
													.extended__list-item Party & celebration
													.extended__list-item Seasonal holiday occasion
													.extended__list-item Sales & discounts
													.extended__list-item Business
													.extended__list-item Sport & travel
											.extended__item-bottom-bg.webp-img.b-lazy(data-webp="./img/extended-bg-white.webp" data-img="./img/extended-bg-white.png")
							.extended__container
								.extended__bottom
									.extended__row
										.extended__row-txt
											span Choose the extended license product type and double your superpower! Increase your profit thanks to exclusive social media templates. Get more followers to your company, share the post and extend the audience, gain more click and get more conversions. Be on the top in your sphere!
										.extended__row-img
											.extended__row-img-item.b-lazy(data-blazy="./img/bonus1.svg")
									.extended__row
										.extended__row-img
											.extended__row-img-item.b-lazy(data-blazy="./img/bonus2.svg")
										.extended__row-txt
											span Can you imagine local marketing without flyers, posters or business cards? We neither. A bonus set will make you recognizable in a fashion, real estate, finance or even jewelry sphere. If you own a little flower shop or a huge fitness studio or maybe a cozy pizza pub, you always need a proper advertisement. More ads — more visitors, more guests — more benefits!
									.extended__row
										.extended__row-txt
											span Keep everything clear either business or documents and papers. Neat and minimalistic documents and notebook design will make your office look better and respectful. Let your elegant art gallery, modern barbershop or pleasant bakery be trendy and orderly.
										.extended__row-img
											.extended__row-img-item.b-lazy(data-blazy="./img/bonus3.svg")

							.extended__gifr.promotion__strok.b-lazy(data-blazy="./img/small-strok-bg.svg")
								.extended__container
									.extended__gifr-item
										.extended__gifr-item-img.b-lazy(data-blazy="./img/gift-blue.svg")
										.extended__gifr-item-txt Feel the benefits of bonus materials and force your target!
									.extended__gifr-content
										.extended__gifr-subtitle Partner Commissions
										.extended__gifr-txt We pay our affiliates a 50% commission for every product sale. We also grant ready-to-use marketing materials to help your promotions: banners, text ads, and newsletters.

					.section
						.started
							.container
								.started__inner
									.section-title.started__title Get Started Right Now
									.started__content
										.started__list
											.started__item.b-lazy(data-blazy="./img/started-bg.svg")
												.started__item-num
													span 01
												.started__item-txt Apply now for free on JVZoo
											.started__item.b-lazy(data-blazy="./img/started-bg-reverse.svg")
												.started__item-txt Promote the product using <br>a personal link
												.started__item-num
													span 02
											.started__item.b-lazy(data-blazy="./img/started-bg.svg")
												.started__item-num
													span 03
												.started__item-txt Get 50% commission <br>for every sale


					.section
						.strok-block.promotion__strok.promo.b-lazy(data-blazy="./img/small-strok-bg.svg")
							.container
								.strok-block__inner
									.section-title.section-title--white.strok-block__title Get Promo Tools
									.strok-block__btn-wrap
										a(href="javascript:vpid(0);").btn.btn-blue.form-block__btn.promo__btn Download Your Swipes
											include ../img/down-arrow.svg

					.section.standart-padding
						.profit.reason.bg-grey
							.container
								.profit__inner
									.section-title.profit__title And Here’re 3 Big Reasons Why You <br>Should Not Miss To Promote Small <br>Business Marketing Kit:
									.profit__list
										.profit__item.profit__item--1
											.profit__info
												.profit__name Trust and Value
												.profit__txt We run a legitimate business, always correctly illustrate and represent our product/s and their features and benefits to the customer. You shouldn't worry about the value or quality of the product.
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reason01.svg" alt="profit")
										.profit__item.profit__item--2
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reason02.svg" alt="profit")
											.profit__info
												.profit__name Support and Updates
												.profit__txt We always continually maintaining and adding new updates to past tools. You can be assured this isn't a "launch and gone" tool.
										.profit__item.profit__item--4
											.profit__column
												.profit__info
													.profit__name Fair Game
													.profit__txt We want everyone to succeed and level the playing field no matter if you’re brand new to affiliate marketing or a seasoned marketer.
											.profit__img
												img.b-lazy(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-blazy="./img/reason03.svg" alt="profit")

					.section.standart-padding
						.bio
							.container
								.bio__inner
									.section-title.bio__title Need Anything? Get In Touch!
									.bio__content
										.bio__txt.bio__txt--mobile Please don't hesitate to contact me for further information.
										.bio__img
											img.b-lazy(data-blazy="./img/Ellipse.png" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")
										.bio__info
											.bio__txt Please don't hesitate to contact me for further information.
											.bio__spacer
											.bio__name Serhii Prokopchuk
											a.bio__email(href="mailto:amber.digital.content@gmail.com") amber.digital.content@gmail.com
											.bio__social
												a.bio__social-link.b-lazy(data-blazy="img/be-blue.svg" href="#")
												a.bio__social-link.b-lazy(data-blazy="img/inst-blue.svg" href="#")
												a.bio__social-link.b-lazy(data-blazy="img/fb-blue.svg" href="#")

					.section
						.info-block.affilate.promotion__strok.b-lazy(data-blazy="./img/big-strok-bg.svg")
							.container
								.info-block__inner
									.section-title.section-title--white.bio__title.affilate__title Affilate Promotion Terms & Conditions
									.info-block__top
										.info-block__txt Read carefully before joining this program. You agree that you are NOT allowed to do the following things <br>if approved for the affiliate program. By doing any of the following, you will be terminated from the <br>program and agree that any commissions will be forfeited without recourse:
										.info-block__table.info-block__table--cw50
											.info-block__row
												.info-block__column
													span You must follow the FTC guidelines and local laws when promoting our products or services.
												.info-block__column
													span Do not send any kind of spam or junk traffic.
											.info-block__row
												.info-block__column
													span Affiliates are NOT ALLOWED to create social media pages with the product name or brand name to avoid confusion and prevent abuse.
												.info-block__column
													span Please make sure you do the same. <br>Be updated on the latest affiliate information by signing up on our JV email list.
											.info-block__row
												.info-block__column
													span You must NOT run “negative” PPC or iframe domain campaigns such as “Product name/author name scam” or any other method to attract controversial click-through rates that any ordinary person would deem to portray a negative view of the product.
												.info-block__column
													span We run a legitimate business, which means that we always correctly illustrate and represent our product/s and their features and benefits to the customer.

					.footer
						.footer__inner
							.container
								.footer__content
									.footer__column
										.footer__subtitle About
										.footer__txt A professional set of marketing materials to successful and effective business promotion
									.footer__column
										.footer__subtitle Contact us
										.footer__txt
											| Address: some address here <br>
											| <br>
											| Phone number: <br>
											a(href="tel:80990005525") 8(099)000 55 25
											| <br>
											| <br>
											| Email:
											a(href="mailto:somemail@here.com")  somemail@here.com


						.footer__bottom
							.container
								.footer__bottom-content
									.footer__bottom-txt Copyright © 2020
									.footer__bottom-list
										a.footer__bottom-link.b-lazy(data-blazy="img/footer-be.svg" href="#")
										a.footer__bottom-link.b-lazy(data-blazy="img/footer-inst.svg" href="#")
										a.footer__bottom-link.b-lazy(data-blazy="img/footer-fb.svg" href="#")


					.video
						.video__inner
							.video__close.b-lazy(data-blazy="img/close.svg")
							.video__content
								iframe.youtube-video( width="720" height="480" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


		block scripts
			script(src='js/libs.min.js')
			script(src='js/main.min.js')
			script
				| $(document).ready(function(){
				|
				| });
